* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

.navbar {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
justify-content: center;
align-items: center;
text-align: center;
list-style: none;
background:turquoise;
font-size: 1.2em;
padding: 2px;
position: fixed;
width: 100%;
position: relative;
top: 0
}

.hero-section {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar-img{
    width: 150px;
    max-width: 100%;
    height: auto;
}

.skills {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    margin: 1em;
}

.contact-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  background-color: turquoise;
  color: #fff;
  padding: 2em;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2px;
}