body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color:black;
margin: 0;
padding: 0;
box-sizing: border-box;
padding: 4rem 2rem;
text-align: center;
}

.nav-links {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
color: #fff;
justify-content: center;
align-items: center;
text-align: center;
display: flex;
list-style: none;
line-height: 1.5;
padding-top: 80px;
gap: 20px;
background:turquoise;
font-size: 1.2em;
padding: 2px;
position: relative;
width: 100%;
top: 0
}

.nav-links a{
color: #fff;
text-decoration: none;
}

.nav-links a:hover{color: yellow;
}

.hero-section {
max-width: 900px;
}

.avatar-img{
    width: 150px;
    max-width: 100%;
    height: auto;
}

.skills {
    margin: 0;
    padding: 0;
}

.projects{
    display: inline;
    margin: 1em;
}

.skills ul,
.projects ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer {
  background-color: turquoise;
  color: #fff;
  padding: 2em;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2px;
}